<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>登录页面</title>
    <link rel="stylesheet" href="../static/css/test.css">
</head>

<body>
<div id="maxbox">
    <h1>LOGIN</h1>
    <div class="inputbox">
        <input type="password" placeholder="Username" />
    </div>
    <div class="inputText">
        <input type="password" placeholder="Password" />
    </div>
    <input class="inputButton" type="button" value="LOGIN" />
    <div id="sign_up">
        Don't have account ? <a href="#">Sign Up</a>
    </div>
</div>
</body>

</html>
